.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.event {
   
      margin: 1em;
     
        }
  .eventContainer {
    margin: 5em;
    padding: 5em;
  }
  .attendingList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }
  .attendingUser {
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    
  }
  .buttons {
    display:flex
  }
  .d-block {
    margin: 5px;
  }