.BossContainer{
  align-content: center;
}
.bosses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.boss__Bottom{
    align-content: center;
    padding: 5em;
}
  
.boss {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      
  }
  .bossDiv {
    padding: 1em;
    text-align: center;
    
  }
  .boss__image {
    width: 400px;
    
    

  }
  
  .boss__details {
    align-content: start;
    padding-left: 5em;
}
  .commentForm {
    align-content: start;
    padding-left: 5em;
    padding-right: 5em;

  }
  .commentContainer {
    align-content: start;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 5em;

  }
  .detailHeader {
    font-weight: bold;
}
.bossHeader {
  padding-left: 2em;
  padding-right: 2em;
}
.bosses__container {
  padding-left: 1em;
  padding-right: 1em;
}
